/* global rules  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%); 
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open sans", sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

/* end global rules  */

/* media quieres */
@media (min-width: 768px) {
    .container {
        width: 750px
    }
    header .container nav ul {
        display: flex;
        /* min-height: 70px; */
    }
}


@media (min-width: 992px) {
    .container {
        width: 970px
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

/* end media quieres */

/* header */
header {
    min-height: 78px;
    position: absolute;
    z-index: 2;
    width: 100%;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::before {
    content: "";
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    height: 1px;
    position: absolute;
    bottom: 1px; /* reminder to reset this value */
    left: 15px;
    z-index: -1;
}
/* end header */


/* logo */
.logo {
    position: absolute; /* idk */
    left: 25px;
    top: 25px;
}

.ghost {
    transform: scale(2.2, 2.2);
    color: var(--main-color);
    position: absolute;
    left: 0;
    top: 0;
}


/* start the image " instaed of the solid logo , i made it with CSS step by step " */
.title {
    width: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    left: 80px;
    line-height: 0.8;
    font-weight: bold;

}

.ghost-title-templates {
    color: var(--main-color);
    font-size: 8px;

}

.ghost-title-kasper {
    font-size: 20px;
}

/* end logo */
nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* the media of mobile display only */
@media (max-width:768px) {
    header nav ul{
       display: none ;   
    }  
    header nav .toggle-menu{
        transform: scale(1.3,1.3);
        transition: 0.4s;
    }
    header nav .toggle-menu:hover + ul{
        display: flex ;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        /* border-bottom: ;om: #a2a2a2 1px solid; */
    }
    header nav .toggle-menu:hover {
        transform: rotate(90deg);
    }
    header nav .toggle-menu:hover + ul li a{
        padding: 15px;
    }
    header nav .toggle-menu + ul li a:hover{
        padding-left: 25px;
    }
}


header .container nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: 0.3s;
    padding: 30px 10px;
    text-transform: uppercase;
}
header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: var(--main-color) 1px solid;
}
header nav .search {
    padding: 0 20px;
    border-left: white 1px solid;
    margin: 30px 0px 30px 20px;
}
@media (min-width:767px) {
    header nav .toggle-menu {
        display: none;
    }
}
/* end header */



/* start landing */
.landing{
    min-height: 100vh;
    background-size: cover;
    background-color: dodgerblue;
    background-image: url(../kasper_images/LANDING.jpg);
    position: relative;
    z-index: -1;
}
.landing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.landing .text{
    z-index: 2;
    background-color: var(--transparent-color);
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: 500px;
    padding: 20px 20px 20px 130px ;
    display: flex;
    justify-content: flex-end;
}
.landing .content{
   max-width: 500px;
}
.landing h2{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.5;
}
.landing p{
    font-size: 14px;
    line-height: 1.3;
}

.landing .change-back{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    color: white;
    z-index: 2;
}
.landing .left{
    left: 30px;
}
.landing .change-back{
    right: 30px;
}

.landing .bullets{
    display: flex;
    position: absolute;
    bottom: 20px;
    width: 40px;
    left: 50%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.landing .bullets li{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    border: white solid 1px;
}
.landing .bullets .active{
background-color: var(--main-color) !important;
}





/* end landing */